#
#	Configuration File for 'cmClasses'
#	
#	This file contains settings for several tools like
#	- Project Index
#	- Unit Testing
#	- phpDocumentor
#	- DocCreator
#
#	The first section describes the project itself
#
[project]
name				= cmClasses							
version				= 0.6.3
author				= "Christian Würker <christian.wuerker@ceus-media.de>"
company				= "CeuS Media (ceus-media.de)"
link				= http://code.google.com/p/cmclasses/


#
#	This section holds URLs for Project Index
#
[links]
company				= http://ceus-media.de/
project				= http://code.google.com/p/cmclasses/
download			= http://code.google.com/p/cmclasses/downloads/list
source				= http://code.google.com/p/cmclasses/source/checkout
svn				= http://cmclasses.googlecode.com/svn/trunk/
documentation			= 
manual				= 
tutorial			=


[paths]
php				= 
phpDocumentor			= 
code_coverage			= Reports/
documentations			= References/
tests				= Tests/


#
#	Options for Unit Testing using PHPUnit
#
[unitTestOptions]
coverage-html			= Reports
log-json			= Tests/results.json
log-xml				= Tests/results.xml


#
#	Settings for automated documentation creation using DocCreator
#
[docCreator]
pathTool			= "c:/.mirror/dev/DocCreator"
pathClasses			= "c:/.mirror/cmClasses/de/ceus-media/"
pathTarget			= "c:/.mirror/cmClasses/References/doc/"
language			= en
theme				= cm1
title				= cmClasses API

ignoreFiles			= "*/_*.php5"
ignoreFolders			= "*/.svn/*,Reports/,References/,Tests/,"
upperCasePackages		= adt,cs*,dom,*tp,*ml,imap,ini,pdo,php,rss,ui,wddx,xsl
upperCasePackages		= adt,css,csv,dom,ftp,html,http,imap,ini,pdo,php,opml,rss,ui,wddx,xml,xsl,yaml
fileDataSerial			= "data.serial"
filePackageSerial		= "packages.serial"
timeLimit			= 120
forceParser			= no
forceCreator			= no
verbose				= yes
verboseSkip			= no
timezone			= "Europe/Berlin"

#
#	Settings for automated documentation creation using phpDocumentor
#
[phpDocumentor]
directory			= de/ceus-media/
target				= References/phpDoc/
output				= HTML:frames:earthli,HTML:Smarty:PHP,PDF:default:default,XML:DocBook/peardoc2:default,HTML:frames:phphtmllib,HTML:frames:phpedit
output				= HTML:frames:earthli,XML:DocBook/peardoc2:default,HTML:frames:phphtmllib,HTML:frames:phpedit
output				= HTML:frames:phpedit
ignore				= .svn/,Tests/,References/,Reports/,createTest.php5,index.php5,*.bat,*.sh,cmClasses.ini,*/_*.php5

title				= cmClasses
defaultcategoryname		= cmClasses
defaultpackagename		= cmClasses

sourcecode			= on
parseprivate			= on
javadocdesc			= off
quiet				= off
pear				= off
hidden				= false

;customtags			= mytag1,mytag2
;packageoutput			= package1,package2
;filename			= /path/to/file1,/path/to/file2,fileincurrentdirectory

outputLog			= cmClasses.phpDoc.log