/*  INFO PANEL  */
.test #info {
	float: right;
	width: 300px;
	}

.test #info h3 {
	margin: 0px;
	padding: 0.3em 0.7em;
	border-bottom: 1px solid #444;
	}	

.test #info dl {
	background: #F7F7F7;
	padding: 0.5em 1.2em;
	}

.test #info dl dt,
.test #info dl dd {
	margin: 0em;
	padding: 0em;
	}

.test #info dl dt {
	clear: both;
	float: left;
	}

.test #info dl dd {
	float: right;
	font-style: italic;
	margin-bottom: 0.5em;
	}

/*  CONTROL PANEL  */
.test #control {
	margin-right: 320px;
	}
.test #control h3 {
	margin: 0px;
	padding: 0.3em 0.7em;
	border-bottom: 1px solid #444;
	}	
.test #control ul {
	background: #F7F7F7;
	margin: 0px;
	padding: 0.5em 1em;
	list-style: none;
	}
.test #control .rules .key {
	font-style: italic;
	}

.test #control .rules .value {
	font-weight: bold;
	}




/*  RESPONSE PANEL  */
.test #response {
	clear: both;
	width: 100%;
	overflow: auto;
	word-wrap: break-word;
	}
.test #response xmp {
	font-family: Lucida Console, Courier New;
	font-size: 11px;
	}
