/*
*>.tabs-office a span { /* hide from IE 6 */
	width: auto;
	height: auto;
	}
*/
.tabs-office .tabs-disabled {
	filter: alpha(opacity=40);
	}
.tabs-office .tabs-disabled a span {
	height: 19px; /* for some reason the height is 1px to less with opacity... */
	}
.tabs-office { /* auto clear */
	display: inline-block;
	}
/*
.tabs-dev a span {
	width: 64px; /* IE 6 treats width as min-width */
	height: 18px; /* IE 6 treats height as min-height */
	}
*/