body {
/*	font-size: 62.5%;*/
	background-image: url(../images/header_bg.gif);
	background-image: url(../images/hdr_bkg.gif);
	background-repeat: repeat-x;
	background-position: 0px -10px;
	background-position: 0px -20px;
	}
#header {
	height: 70px;
	}

#header h1 {
	padding-left: 65px;
	color: #FFF;
	background-image: url(../images/sinc.png);
	background-image: url(../images/view-refresh.png);
	background-repeat: no-repeat;
	background-position: 20px 6px;
	background-position: 20px 9px;
	font-style: italic;
	line-height: 1.2em;
	}
#header h1 a {
	color: #FFF;
	border-bottom: 1px solid #ddd;
	}
div {
	margin: 0px;
	padding: 0px;
	}
h1 {
	font-weight: lighter;
	color: #24466C;
	font-size: 2.0em;
	margin: 0px;
	padding: 0.4em 0em 0em 0em;
	}
h2 {
	font-weight: lighter;
	color: #24466C;
	font-size: 1.6em;
	margin: 0.5em 0em;
	}

label {
	display: block;
	float: left;
	width: 60px;
	text-align: right;
	padding-right: 0.5em;
	padding-top: 3px;
	}

#container {
	padding: 1em;
	}

acronym {
	}
a,
a:link,
a:visited {
	color: #24466C;
/*	font-weight: bold;*/
	text-decoration: none;
	border-bottom: 1px solid #24466C;
	}
a:active,
a:hover {
	color: red;
	}
table.list {
	border-collapse: collapse;
/*	border-top: 5px solid #555555;*/
	border: 1px solid #ddd;
	border-top: 0px;
	margin-bottom: 0.5em;
	}

table.list caption {
	background-color: #555555;
/*	border-top: 5px solid #555555;*/
	background-image: url(bar.png);
	background-position: 0px -8px;
	height: 20px;
	border: 1px solid #ddd;
	text-align: left;
	width: 100%;
	cursor: pointer;
	}
table.list caption span {
	font-weight: bold;
	font-size: 1.1em;
	padding: 1px 0px 1px 5px;
	color: #FFFFFF;
	}



table.list tr th {
	background: #666666;
	background-color: #F7F7F7;
	color: #3F3F3F;
	padding: 2px 4px 2px 4px;
	font-weight: normal;
	font-size: 0.9em;
	}
table.list tr td {
	border-top: 1px solid #eee;
/*	padding: 1px 4px 1px 4px;*/
	}

table.list tr.current td {
	background: #DDD;
	}

small {
	font-size: 0.8em;
	}

small.time {
	font-size: 0.8em;
	color: #999;
	padding-left: 0.6em;
	}

table.hidden tr, table.hidden tr * {
	display: none;
}

table#chktbl_graph_month td,
table#chktbl_graph_day td,
table#chktbl_graph_hour td {
	padding: 0px;
	}
	