

	/**
	 *	Tests Method '{methodName}'.
	 *	@access		public
	 *	@return		void
	 */
	public function test{MethodName}()
	{
		$this->markTestIncomplete( 'Incomplete Test' );
		$assertion	= TRUE;
		$creation	= {className}::{methodName}();
		$this->assertEquals( $assertion, $creation );
	}