div#tables {
	display: block;
	float: left;
	width: 320px;
	}
div#messages {
	display: block;
	margin-left: 320px;
	}
table caption {
	background: #EEE;
	color: #000;
	text-align: left;
	font-size: 1.2em;
	padding: 0.1em 1em 0em 1em;
	border-color: gray;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	}

div {
	padding: 2px 4px;
	}
div.heading {
	background: #DDD;
	cursor: pointer;
	}
div.message {
	background: #EEE;
	display: none;
	}
div.message ul.message {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
div.message ul.message li {
	margin: 0px;
	padding: 0px;
	font-family: Lucida Console, monospace;
	}
div.message ul.message li.positive {
	background-color: #DFD;
	}
div.message ul.message li.negative {
	background-color: #FDD;
	}

div.list {
    }
